%clearfix:after
  display: block
  clear: both
  content: ''

.grid-container
  display: grid
  grid-column-gap: 25px
  .header
    grid-row 1
    background-color: #dafada
  .wrapper
    grid-row: 2
    background-color: #dadada
